<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p th:text="#{welcome.msg}">Welcome Offline</p>
<!--<p th:text="${ses}">Welcome Offline</p>-->
<table>
    <thead>
    <tr>
        <th>Soort</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dog:${dogs}">
        <td> <a th:href="'species.detail?species=' + ${dog.getEnglishName()}"><span th:text="${dog.getEnglishName()}"></span></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>