<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .topright {
            position: absolute;
            top: 8px;
            right: 16px;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <title>Detailed dog information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2><span th:text="#{detailed.msg}"></span></h2>
<p><b><span th:text="#{scientific.msg}"></span></b><span th:text="${scName}"></span></p>
<p><b><span th:text="#{name.msg}"></span></b><span th:text="${name}"></span></p>
<p><b><span th:text="#{weight.msg}"></span></b><span th:text="${weight}"></span></p>
<img class="center" th:src="'pictures/' + ${image}" alt="dog"/>
<div class="topright">
    <table>
        <thead>
            <h3>History:</h3>
        </thead>
        <tr th:each="link:${history}">
            <p th:text="${link}"></p>
        </tr>
    </table>
</div>
</body>
</html>